/* Concise Modifications  */
body *{font-family: 'Raleway', sans-serif;}
select{padding: 0 !important;}
input[type="radio"],
input[type="checkbox"],
select{min-height: 0 !important;}

/* Extends Concise's core */
._text-justify{text-align: justify;}
._ma{margin: auto;}
._mlra{margin: 0 auto;}
._w100{width: 100%;}

/* Base */

/* Custom CSS */
.app{min-height: 100vh;}

